DB_HOST=postgres # Database host, service names in docker-compose
DB_PORT=5432 # Default PostgreSQL port is 5432, change if necessary
DB_USER=YourUsername # postgres user, Default is 'postgres'
DB_PASSWORD=YourPassword # Password for the postgres user, Default is '1234'
DB_NAME=postgres # Database name, Default is 'postgres'