GITHUB_OWNER=lallireza

DB_NAME=mydb
DB_USER=myuser
DB_PASSWORD=change-me-to-a-strong-password

DJANGO_SECRET_KEY='django-insecure-fgc_14rg)31pwx!lo=tc0)jl#hb*l+h$d46z1jq8=t$mptiqi8'
DJANGO_ALLOWED_HOSTS='*'