django>=4.2
psycopg2-binary>=2.9
django-cors-headers>=4.0
django-sslserver>=0.22
djangorestframework>=3.17

asgiref>=3.12
packaging>=26.3
psycopg2-binary>=2.9
setuptools>=79.0
sqlparse>=0.6
wheel>=0.46
